
  <footer class="page-footer blue lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Developer Bio</h5>
          <p class="grey-text text-lighten-4">My name is Mike and I am on a mission to hone my skills as a web
          developer. This is just one of many examples of web applications I am now able to build after my coding
          bootcamp. Please Enjoy :)</p>
          <br>
        </div>
        <!-- <div class="col l3 s12"> -->
        <!--   <h5 class="white&#45;text">Settings</h5> -->
        <!--   <ul> -->
        <!--     <li><a class="white&#45;text" href="#!">Link 1</a></li> -->
        <!--     <li><a class="white&#45;text" href="#!">Link 2</a></li> -->
        <!--     <li><a class="white&#45;text" href="#!">Link 3</a></li> -->
        <!--     <li><a class="white&#45;text" href="#!">Link 4</a></li> -->
        <!--   </ul> -->
        <!-- </div> -->
        <!-- <div class="col l3 s12"> -->
        <!--   <h5 class="white&#45;text">Connect</h5> -->
        <!--   <ul> -->
        <!--     <li><a class="white&#45;text" href="#!">Link 1</a></li> -->
        <!--     <li><a class="white&#45;text" href="#!">Link 2</a></li> -->
        <!--     <li><a class="white&#45;text" href="#!">Link 3</a></li> -->
        <!--     <li><a class="white&#45;text" href="#!">Link 4</a></li> -->
        <!--   </ul> -->
        <!-- </div> -->
      </div>
    </div>
  </footer>
